<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MylanCustomizations.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <!--<bindings>
            <basicHttpBinding>
                <binding name="SoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="SoapBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://webservice.exacttarget.com/Service.asmx"
                binding="basicHttpBinding" bindingConfiguration="SoapBinding"
                contract="ExactTargetClient.Soap" name="Soap" />
        </client>-->
    
<bindings>
    <customBinding>
        <binding name="SoapBinding" closeTimeout="00:30:00" openTimeout="00:30:00"
            receiveTimeout="00:30:00" sendTimeout="00:30:00">
            <security authenticationMode="UserNameOverTransport" />
            <textMessageEncoding messageVersion="Soap11WSAddressingAugust2004" />
            <httpsTransport maxReceivedMessageSize="655360000" />
        </binding>
        <binding name="SoapBinding4" closeTimeout="00:30:00" openTimeout="00:30:00"
            receiveTimeout="00:30:00" sendTimeout="00:30:00">
            <security authenticationMode="UserNameOverTransport" />
            <textMessageEncoding messageVersion="Soap11WSAddressingAugust2004" />
            <httpsTransport maxReceivedMessageSize="655360000" />
        </binding>
    </customBinding>
</bindings>
<client />
    </system.serviceModel>
    <applicationSettings>
        <MylanCustomizations.Properties.Settings>
            <setting name="ETClientId" serializeAs="String">
                <value>3uqagf2nrt2mm27q3rt45ett</value>
            </setting>
            <setting name="ETClientSecret" serializeAs="String">
                <value>D5wxtEx6UGNVxgkbyrruJhQV</value>
            </setting>
            <setting name="NewProductDECustomerKey" serializeAs="String">
                <value>10b5ce3e-d76c-483c-be20-c456e9957575</value>
            </setting>
            <setting name="ProductUpdateCustomerKey" serializeAs="String">
                <value>85a648a8-55df-440e-8f1d-2bf5af9f1399</value>
            </setting>
            <setting name="SubscribersCustomerKey" serializeAs="String">
                <value>bffdb9d4-4e9a-4b86-b786-c17e1aa6f6b4</value>
            </setting>
            <setting name="OptInCustomerKey" serializeAs="String">
                <value>a998bd8c-af0b-487e-bbd3-24e1fbcc2b4f</value>
            </setting>
        </MylanCustomizations.Properties.Settings>
    </applicationSettings>
</configuration>