<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MylanCustomizations.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <!--<bindings>
            <basicHttpBinding>
                <binding name="SoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="SoapBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://webservice.exacttarget.com/Service.asmx"
                binding="basicHttpBinding" bindingConfiguration="SoapBinding"
                contract="ExactTargetClient.Soap" name="Soap" />
        </client>-->
    
<bindings>
    <customBinding>
        <binding name="SoapBinding" closeTimeout="00:30:00" openTimeout="00:30:00"
            receiveTimeout="00:30:00" sendTimeout="00:30:00">
            <security authenticationMode="UserNameOverTransport" />
            <textMessageEncoding messageVersion="Soap11WSAddressingAugust2004" />
            <httpsTransport maxReceivedMessageSize="655360000" />
        </binding>
        <binding name="SoapBinding4" closeTimeout="00:30:00" openTimeout="00:30:00"
            receiveTimeout="00:30:00" sendTimeout="00:30:00">
            <security authenticationMode="UserNameOverTransport" />
            <textMessageEncoding messageVersion="Soap11WSAddressingAugust2004" />
            <httpsTransport maxReceivedMessageSize="655360000" />
        </binding>
    </customBinding>
</bindings>
<client />
    </system.serviceModel>
    <applicationSettings>
        <MylanCustomizations.Properties.Settings>
            <setting name="ApproverEmailAddress" serializeAs="String">
                <value>beiyi.zheng@gmail.com</value>
            </setting>
            <setting name="ETClientId" serializeAs="String">
                <value>3uqagf2nrt2mm27q3rt45ett</value>
            </setting>
            <setting name="ETClientSecret" serializeAs="String">
                <value>D5wxtEx6UGNVxgkbyrruJhQV</value>
            </setting>
            <setting name="SendClassificationObjectID" serializeAs="String">
                <value>51422ad6-6f65-de11-bf42-001e0bbb7678</value>
            </setting>
            <setting name="SendDefinitionListCustomObjectID" serializeAs="String">
                <value>729860f8-7d66-de11-bf42-001e0bbb7678</value>
            </setting>
            <setting name="EmailIDForSendDefinition" serializeAs="String">
                <value>3113962</value>
            </setting>
            <setting name="SenderProfileCustomerKey" serializeAs="String">
                <value>12345</value>
            </setting>
            <setting name="DeliveryProfileCustomerKey" serializeAs="String">
                <value>1234</value>
            </setting>
        </MylanCustomizations.Properties.Settings>
    </applicationSettings>
</configuration>